.row_title {
    margin-top: 25px;
}

.Line {
    border: 0.3px solid rgba(70, 163, 88, 0.5);
    width: 100%;
    margin: 10px 0 10px 0;
}


.tota_cart {
    margin-top: 50px;
}



.tota_cart h2 {
    color: rgb(61, 61, 61);
    font-family: "Cera Pro";
    font-size: 18px;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 0%;
    text-align: left;
}

.tota_cart p {
    color: rgb(61, 61, 61);
    font-family: Cera Pro;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0%;
    text-align: left;
    margin-top: 10px;
    margin-bottom: 8px;
}

.coupon_input {
    display: flex;
    align-items: center;
}

.coupon_input input {
    box-sizing: border-box;
    border: 1px solid rgb(70, 163, 88);
    border-radius: 3px;
    outline: none;
    padding: 13px 9px;
    color: rgb(165, 165, 165);
    font-family: "Cera Pro";
    font-size: 14px;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: 0%;
    text-align: left;

}
.full_flex{
    display: flex;
    gap: 30px;
}



.uzum__empty p{
    color: rgb(61, 61, 61);
    width: 400px;
    text-align: center;
}

.coupon_input button {
    border-radius: 0px 3px 3px 0px;
    border: none;
    background: rgb(70, 163, 88);
    padding: 14px 35px;
    color: white;
    font-family: "Cera Pro";
    font-size: 14px;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: 0%;
    text-align: left;
    cursor: pointer;
    margin-left: -10px;
}

.coupon_text_one {
    display: flex;
    align-items: center;
    gap: 190px;
    margin-top: 20px;
}

.coupon_text_one p {
    color: rgb(61, 61, 61);
    font-family: " Cera Pro";
    font-size: 15px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0%;
    text-align: left;
}

.coupon_text_one b {
    color: rgb(61, 61, 61);
    font-family: "Cera Pro";
    font-size: 18px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0%;
    text-align: right;
}

.coupon_text_two {
    display: flex;
    align-items: center;
    gap: 150px;
}

.coupon_text_there {
    display: flex;
    align-items: center;
    gap: 210px;
}

.coupon_text_four_total {
    display: flex;
    align-items: center;
    gap: 211px;
}

.coupon_text_four_total p {
    color: rgb(70, 163, 88);
    font-family: Cera Pro;
    font-size: 18px;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 0%;
    text-align: right;
}

.card_wrapper_add{
    display: flex;
    flex-wrap: wrap ;
    gap: 15px;
    margin-top: 25px;
}

.btn_checkout {
    width: 330px;
    background: rgb(70, 163, 88);
    border: none;
    border-radius: 3px;
    color: white;
    font-family: "Cera Pro";
    font-size: 18px;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 0%;
    text-align: center;
    padding: 15px;
    margin-top: 30px;
}

.btn_checkout:active {
    background: rgb(61, 61, 61);

}

.card_add {
    width: 700px;
    background: rgb(251, 251, 251);
    padding: 10px;
}

.card_wrapper_add {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0   ;
}

.card_wrapper_add img {
    width: 70px;
    height: 70px;
    object-fit: contain;
}

.card_wrapper_add h4 {
    color: rgb(61, 61, 61);
    font-family: "Cera Pro";
    font-size: 16px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0%;
    text-align: left;
}

.card_wrapper_add p {
    color: rgb(114, 114, 114);
    font-family: "Cera Pro";
    font-size: 16px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0%;
    text-align: left;
}

.card_wrapper_add .add_btn {
    border: none;
    cursor: pointer;
    background: linear-gradient(180.00deg, rgb(70, 163, 88), rgba(70, 163, 88, 0.8) 100%);
    color: white;
    border-radius: 50%;
    width: 25px;
    height: 25px;
}

.card_wrapper_add .total_p {
    color: rgb(70, 163, 88);
    font-family: "Cera Pro";
    font-size: 16px;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 0%;
    text-align: left;
}

 .remove_btn{
    background-color: transparent;
    border: none;
    font-size:20px;
}